*.o
.vs
bin/dgd
bin/dgd.old
src/a.out
src/*/dgd
src/comp/parser.cpp
src/comp/parser.h
src/lex/lex
src/ed/ed
src/host/local.cpp
src/host/random.cpp
src/host/lrand48.cpp
src/host/dirent.cpp
src/host/dload.cpp
src/host/time.cpp
src/host/connect.cpp
src/host/xfloat.cpp
src/host/win32/Debug
src/host/win32/Release
src/host/win32/x64
src/host/win32/ipch
src/host/win32/dgd.opensdf
src/host/win32/dgd.sdf
src/host/win32/dgd.suo
src/host/win32/dgd.v11.suo
src/host/win32/dgd.vcxproj.user
src/host/win32/dgd.VC.db
src/host/win32/dgd.VC.VC.opendb
